[submodule "components/ESP8266-general-component"]
	path = components/ESP8266-general-component
	url = https://github.com/notabucketofspam/ESP8266-general-component.git
[submodule "util/mkspiffs"]
	path = util/mkspiffs
	url = https://github.com/igrr/mkspiffs.git
  [submodule "util/esptool"]
	path = util/esptool
	url = https://github.com/espressif/esptool.git
